@tailwind base;

@tailwind components;

* {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
}

.app-heading {
    font-size: 24px;
    line-height: 15px;
    letter-spacing: -0.65px;
    color: #013C61;
}

.btn {
    @apply px-8;
    @apply text-white;
    @apply rounded-sm;
    @apply inline-block;
    @apply h-10;
}

.c-nav {
    display: block !important;
}

main {
    margin-left: 60px;
    margin-top: 80px;
}
@tailwind utilities;